services:
  db:
    image: postgres:16
    container_name: kestrelle-db
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - kestrelle_pgdata:/var/lib/postgresql/data

  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:latest
    container_name: lavalink
    restart: unless-stopped
    environment:
      - SERVER_PORT=2333
      - LAVALINK_SERVER_PASSWORD=youshallnotpass
    volumes:
      - ./Kestrelle/Kestrelle/Kestrelle.Lavalink/application.yml:/opt/Lavalink/application.yml:ro
      - ./Kestrelle/Kestrelle/Kestrelle.Lavalink/plugins:/opt/Lavalink/plugins
    ports:
      - "2333:2333" # optional; expose only when we want to access from host

  kestrelle-bot:
    build:
      context: .
      dockerfile: Kestrelle/Kestrelle/Kestrelle.Bot/Dockerfile
    image: kestrelle/kestrelle-bot:latest
    container_name: kestrelle-bot
    restart: unless-stopped
    depends_on:
      - lavalink
    environment:
      - Lavalink__BaseAddress=http://lavalink:2333
      - Lavalink__WebSocketUri=ws://lavalink:2333/v4/websocket
      - Lavalink__Passphrase=youshallnotpass
      - Discord__Token=${DISCORD_TOKEN}
      - ConnectionStrings__KestrelleDb=${ConnectionStrings_KestrelleDb}
      
  kestrelle-api:
    build:
      context: .
      dockerfile: Kestrelle/Kestrelle/Kestrelle.Api/Dockerfile
    image: kestrelle/kestrelle-api:latest
    container_name: kestrelle-api
    restart: unless-stopped
    environment:
      - Discord__ClientId=${DISCORD_CLIENT_ID}
      - Discord__ClientSecret=${DISCORD_CLIENT_SECRET}
      - Discord__RedirectUri=${DISCORD_REDIRECT_URI}
      - Discord__Token=${DISCORD_TOKEN}
      - ConnectionStrings__KestrelleDb=${ConnectionStrings_KestrelleDb}
      - ASPNETCORE_URLS=http://+:8080
    expose:
      - "8080"

  kestrelle-client:
    build:
      context: .
      dockerfile: Kestrelle/Kestrelle/Kestrelle.Client/Dockerfile
    image: kestrelle/kestrelle-client:latest
    container_name: kestrelle-client
    restart: unless-stopped
    depends_on:
      - kestrelle-api
    ports:
      - "8080:80"
      
volumes:
  kestrelle_pgdata: